main {
  min-height: 80vh;
}

.navLinks {
  justify-content: end;
}

.card-text {
  margin: 1rem 0;
}

.card-text .rating-text {
  margin-left: 0.5rem;
}

.rating .fas,
.rating .far {
  color: #ffd700;
}

.back-btn {
  color: #777;
  font-size: 0.75rem;
}
.back-btn:hover {
  background-color: transparent;
  color: #000;
  text-decoration: underline;
}

.back-btn-text {
  margin-left: 10px;
}

.btn-block {
  width: 100%;
}

footer {
  background-color: #f8f9f9;
}

.footer {
  font-size: 0.8rem;
}
